[workspace]
authors = ["Brandon Seah <brandon_seah@tll.org.sg>"]
channels = ["conda-forge", "bioconda", "nodefaults"]
name = "phyloblitz"
platforms = ["linux-64"]
version = "0.1.0"
preview = ["pixi-build"]

[dependencies]
phyloblitz = { path = "." }

[package]
name = "phyloblitz"
version = "0.1.0"

[package.build]
backend = { name = "pixi-build-python", version = "==0.4.0" }

[tasks]
main = "main"

[package.host-dependencies]
hatchling = ">=1.16.1"

[package.run-dependencies]
python = ">=3.10,<3.14"
minimap2 = ">=2.30,<3"
pysam = ">=0.23.3,<0.24"
spoa = ">=4.1.5,<5"
mcl = ">=22.282,<23"
pyfastx = ">=2.2.0,<3"
mistune = ">=3.1.4,<4"
numpy = ">=2.3.5,<3"
matplotlib-base = ">=3.10.8,<4"
isonclust3 = ">=0.3.0,<0.4"
