[workspace]
authors = ["Brandon Seah <brandon_seah@tll.org.sg>"]
channels = ["conda-forge", "bioconda", "nodefaults"]
name = "phyloblitz"
platforms = ["linux-64"]
version = "0.1.0"
preview = ["pixi-build"]
description = "Rapid SSU rRNA marker gene screening of long read metagenomes."
license = "MIT"
license-file = "LICENSE.txt"
readme = "README.md"
repository = "https://github.com/kbseah/phyloblitz"

[dependencies]
phyloblitz = { path = "." }
rich-click = ">=1.9.4,<2"
pymarkovclustering = ">=0.1.1,<0.2"
oxli = ">=0.3.0,<0.4"

[package]
name = "phyloblitz"
version = { workspace = true }
authors = { workspace = true }
description = { workspace = true }
license = { workspace = true }
license-file = { workspace = true }
readme = { workspace = true }
repository = { workspace = true }

[package.build]
backend = { name = "pixi-build-python", version = ">=0.4.0,<0.5.0" }

[tasks]
main = "main"
test = "black ./src; black ./tests; python3 -m unittest tests.utils; python3 -m unittest tests.pipeline"
# download = "wget -q -O - 'https://zenodo.org/records/7892522/files/138.1.tar.gz?download=1' | tar -xzf - 138.1/SILVA_SSU.noLSU.masked.trimmed.NR99.fixed.fasta"
# 138.2/SILVA_SSURef_NR99.masked.trimmed.fasta
# isonclust3 ont
run = "phyloblitz --db 138.2/SILVA_SSURef_NR99.nocontam.masked.trimmed.NR99.fasta --reads runtest/data/SRR17913200.ssu_sample.fastq.gz --outdir runtest/run --platform lr:hq --threads 12 --flanking 1000 --log runtest/run.log --resume --debug"
clean = "rm -rf runtest/run runtest/run.log"
pclean = "find ./runtest/run -type f ! -name pbz_minimap_initial.sam -delete"
prun = [{task="test"}, {task="pclean"}, {task="run"}]
rerun = [{task="test"}, {task="clean"}, {task="run"}]
# isonclust3 pb
run_pb = "phyloblitz --db 138.2/SILVA_SSURef_NR99.nocontam.masked.trimmed.NR99.fasta --reads runtest/data/SRR13128014.ssu_sample.fastq.gz --outdir runtest/run_pb --platform map-hifi --threads 12 --flanking 1000 --log runtest/run_pb.log --resume --debug"
clean_pb = "rm -rf runtest/run_pb runtest/run_pb.log"
pclean_pb = "find ./runtest/run_pb -type f ! -name pbz_minimap_initial.sam -delete"
prun_pb = [{task="test"}, {task="pclean_pb"}, {task="run_pb"}]
rerun_pb = [{task="test"}, {task="clean_pb"}, {task="run_pb"}]
# mcl ont
run_mcl = "phyloblitz --db 138.2/SILVA_SSURef_NR99.nocontam.masked.trimmed.NR99.fasta --reads runtest/data/SRR17913200.ssu_sample.fastq.gz --outdir runtest/run_mcl --cluster_tool mcl --platform lr:hq --threads 12 --flanking 1000 --log runtest/run_mcl.log --inflation 50 --resume --debug"
clean_mcl = "rm -rf runtest/run_mcl runtest/run_mcl.log"
pclean_mcl = "find ./runtest/run_mcl -type f ! -name pbz_minimap_initial.sam -delete"
prun_mcl = [{task="test"}, {task="pclean_mcl"}, {task="run_mcl"}]
rerun_mcl = [{task="test"}, {task="clean_mcl"}, {task="run_mcl"}]
# mcl ont
run_mcl_pb = "phyloblitz --db 138.2/SILVA_SSURef_NR99.nocontam.masked.trimmed.NR99.fasta --reads runtest/data/SRR13128014.ssu_sample.fastq.gz --outdir runtest/run_mcl_pb --cluster_tool mcl --platform map-hifi --threads 12 --flanking 1000 --log runtest/run_mcl_pb.log --inflation 50 --resume --debug"
clean_mcl_pb = "rm -rf runtest/run_mcl_pb runtest/run_mcl_pb.log"
pclean_mcl_pb = "find ./runtest/run_mcl_pb -type f ! -name pbz_minimap_initial.sam -delete"
prun_mcl_pb = [{task="test"}, {task="pclean_mcl_pb"}, {task="run_mcl_pb"}]
rerun_mcl_pb = [{task="test"}, {task="clean_mcl_pb"}, {task="run_mcl_pb"}]


[package.host-dependencies]
hatchling = ">=1.16.1"
editables = ">=0.5"

[package.run-dependencies]
python = ">=3.10,<3.14"
minimap2 = ">=2.30,<3"
pysam = ">=0.23.3,<0.24"
spoa = ">=4.1.5,<5"
pyfastx = ">=2.2.0,<3"
mistune = ">=3.1.4,<4"
numpy = ">=2.3.5,<3"
matplotlib-base = ">=3.10.8,<4"
isonclust3 = ">=0.3.0,<0.4"
