[workspace]
authors = ["Brandon Seah <brandon_seah@tll.org.sg>"]
channels = ["conda-forge", "bioconda", "nodefaults"]
name = "phyloblitz"
platforms = ["linux-64"]
version = "0.1.0"
preview = ["pixi-build"]

[dependencies]
phyloblitz = { path = "." }

[package]
name = "phyloblitz"
version = "0.1.0"

[package.build]
backend = { name = "pixi-build-python", version = "==0.4.0" }

[tasks]
main = "main"
test = "black ./src; black ./tests; python3 -m unittest tests.utils; python3 -m unittest tests.pipeline"
download = "wget -q -O - 'https://zenodo.org/records/7892522/files/138.1.tar.gz?download=1' | tar -xzf - 138.1/SILVA_SSU.noLSU.masked.trimmed.NR96.fixed.fasta"
run = "phyloblitz --db 138.1/SILVA_SSU.noLSU.masked.trimmed.NR96.fixed.fasta --reads runtest/data/SRR17913200.ssu_sample.fastq.gz --outdir runtest/run --platform lr:hq --threads 12 --log runtest/run.log --resume --debug"
clean = "rm -rf runtest/run runtest/run.log"
pclean = "find ./runtest/run -type f ! -name pbz_minimap_initial.sam -delete"
run_pb = "phyloblitz --db 138.1/SILVA_SSU.noLSU.masked.trimmed.NR96.fixed.fasta --reads runtest/data/SRR13128014.ssu_sample.fastq.gz --outdir runtest/run_pb --platform map-hifi --threads 12 --log runtest/run_pb.log --resume --debug"
clean_pb = "rm -rf runtest/run_pb runtest/run_pb.log"
pclean_pb = "find ./runtest/run_pb -type f ! -name pbz_minimap_initial.sam -delete"

[package.host-dependencies]
hatchling = ">=1.16.1"

[package.run-dependencies]
python = ">=3.10,<3.14"
minimap2 = ">=2.30,<3"
pysam = ">=0.23.3,<0.24"
spoa = ">=4.1.5,<5"
mcl = ">=22.282,<23"
pyfastx = ">=2.2.0,<3"
mistune = ">=3.1.4,<4"
numpy = ">=2.3.5,<3"
matplotlib-base = ">=3.10.8,<4"
isonclust3 = ">=0.3.0,<0.4"
