[workspace]
authors = ["Brandon Seah <brandon_seah@tll.org.sg>"]
channels = ["conda-forge", "bioconda", "nodefaults"]
name = "phyloblitz"
platforms = ["linux-64"]
version = "0.1.0"
preview = ["pixi-build"]

[dependencies]
phyloblitz = { path = "." }

[package]
name = "phyloblitz"
version = "0.1.0"

[package.build]
backend = { name = "pixi-build-python", version = "==0.4.0" }

[tasks]
echo = "myecho"
main = "main"

[package.host-dependencies]
hatchling = ">=1.16.1"

[package.run-dependencies]
minimap2 = ">=2.30,<3"
samtools = ">=1.22.1,<2"
python = ">=3.10,<3.14"
pysam = ">=0.23.3,<0.24"
miniasm = ">=0.3,<0.4"
seqtk = ">=1.5,<2"
spoa = ">=4.1.5,<5"
mcl = ">=22.282,<23"
